<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">Settings</div>
  <div class="card-body">
    <form (submit)="onSubmit()">

      <div class="form-group">
        <label>Allow Registration</label>
        <input
          type="checkbox"
          name="allowRegistration"
          [checked]="this.settings.allowRegistration"
          (change)="this.settings.allowRegistration = !this.settings.allowRegistration"
        >
      </div>

      <div class="form-group">
        <label>Disable Balance on Add</label>
        <input
          type="checkbox"
          name="disableBalanceOnAdd"
          [checked]="this.settings.disableBalanceOnAdd"
          (change)="this.settings.disableBalanceOnAdd = !this.settings.disableBalanceOnAdd"
        >
      </div>

      <div class="form-group">
        <label>Disable Balance on Edit</label>
        <input
          type="checkbox"
          name="disableBalanceOnEdit"
          [checked]="this.settings.disableBalanceOnEdit"
          (change)="this.settings.disableBalanceOnEdit = !this.settings.disableBalanceOnEdit"
        >
      </div>

      <input class="btn btn-primary btn-block" type="submit" value="Change Settings">

    </form>
  </div>
</div>